﻿@using R4.Models

@{
    ViewData["Title"] = "Start";

    var typeInfo = new
    {
        name = nameof(Customer),
        properties = typeof(Customer).GetProperties().Select(p => p.Name).ToArray()
    };
}

<h2>Start</h2>

<div id="main-content">


</div>

<div>
    Contact Us:

    <email mail-to="support@in.unibiz.com" underline />
</div>

@section Scripts{
    
    <script>

        var application = new App();

        document.addEventListener("DOMContentLoaded", function (event) {
            application.start(@Json.Serialize(typeInfo));
        });

    </script>
}